<!-- Gráficos -->

<div class="row g-4 mb-4">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <i class="bi bi-graph-up"></i> {{ 'Interacoes' if dashboard_tipo == 'consultor' else 'Ligacoes' }} nos ultimos 7 dias
      </div>
      <div class="card-body">
        <canvas id="chartLigacoesDias" height="80"></canvas>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <i class="bi bi-pie-chart"></i> Resultados (30 dias)
      </div>
      <div class="card-body" style="height: 280px;">
        <canvas id="chartResultados" height="80"></canvas>
      </div>
    </div>
  </div>
</div>
