{% extends "layout.html" %}
{% block title %}Dashboard Supervisor{% endblock %}
{% block content %}

{% include "supervisor/_dashboard_switch.html" %}

{% include "supervisor/_modal_novidades.html" %}

{% include "supervisor/_botao_resumo.html" %}

{% include "supervisor/_cards_topo.html" %}

{% include "supervisor/_kpis_operacionais.html" %}
{% include "supervisor/_movimento_inativos.html" %}

{% include "supervisor/_meta_diaria.html" %}

{% include "supervisor/_graficos.html" %}

{% include "supervisor/_filtro_periodo.html" %}

{% include "supervisor/_resultados_filtrados.html" %}


{% include "supervisor/_ranking_conversao.html" %}

{% include "supervisor/_ligacoes_mes.html" %}

{% endblock %}

{% block scripts %}
{% include "supervisor/_scripts.html" %}
{% endblock %}

