{% extends "layout.html" %}
{% block title %}Dashboard Supervisor{% endblock %}
{% block content %}
{% set secao_atual = (request.args.get('secao') or 'dashboard') %}

{% include "supervisor/_dashboard_switch.html" %}

{% include "supervisor/_modal_novidades.html" %}

{% if secao_atual != 'fechamento' %}
{% include "supervisor/_cards_topo.html" %}

{% include "supervisor/_kpis_operacionais.html" %}

{% include "supervisor/_graficos.html" %}
{% endif %}

{% if secao_atual == 'fechamento' %}
{% include "supervisor/_filtro_periodo.html" %}

{% include "supervisor/_resultados_filtrados.html" %}
{% include "supervisor/_analise_fechamento.html" %}
{% include "supervisor/_insights_observacoes.html" %}

{% include "supervisor/_ligacoes_mes.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
{% include "supervisor/_scripts.html" %}
{% endblock %}

